language: python
python:
  - "3.6"

before_install:
  - sudo apt-get update
  - sudo apt-get install graphviz
  - pip install poetry

install:
  - ./env_setup.py

jobs:
  include:
    - script: ./self_check.py
    - script: ./bin/build_docs.py

before_deploy:
  - poetry config http-basic.pypi $PYPI_USER PYPI_PASS
  - poetry build

deploy:
  provider: script
  script: gph-import -p docs/ && poetry publish
  skip_cleanup: true
  on:
    condition: type = push
